<footer class='clearfix'>
  <p>
    <%= link_to t('read_more', :scope => 'blog.shared.posts'), blog_post_url(post) if blog_post_teaser_enabled? %>
  </p>
  <section class="footer_details">
    <div class="social">
      <% if post.categories.any? || post.tags.any? %>
        <%= image_tag "blog/tag.png", :alt => "tag", :class => "tag" %>
      <% end %>
      <% if (categories = post.categories).any? %>
        <aside class='filed_in'>
          <%=raw categories.collect { |category| link_to category.title, blog_category_url(category) }.to_sentence %>
        </aside>
      <% end %>
      <% if (tags = post.tags).any? %>
        <aside class='tagged'>
          <% if post.categories.any? %>
            <span class="separator">~</span>
          <% end %>
          <%=raw tags.collect { |tag| link_to tag, tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
        </aside>
      <% end %>
    </div>
    <aside class='comment_count'>
      <% if BlogPost.comments_allowed? %>
        <% if post.comments.any? %>
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= blog_post_url(post) %>" data-text="<%= post.title %>" data-count="horizontal" data-via="astjohn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

          <%= image_tag "blog/dialog.png", :alt => "comments", :class => "comments" %>
           (<%= pluralize(post.comments.approved.count, t('singular', :scope => 'blog.shared.comments')) %>)
        <% else %>
              (<%= t('none', :scope => 'blog.shared.comments') %>)
        <% end %>
      <% end %>
    </aside>
  </section>
</footer>

