<% if post.live? %>
  <article class="blog_post" id="<%= dom_id(post) %>">
    <header>
      <h1><%= link_to post.title, blog_post_url(post) %></h1>
      <section class='details'>
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
          <%= post.published_at.strftime("%Y-%m-%d") %>
        </time>
      </section>

    </header>
    <section class='clearfix content'>
      <% if blog_post_teaser_enabled? %>
        <%= blog_post_teaser(post) %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </section>
    <%= render :partial => "blog/shared/post_footer", :locals => {:post => post,
                                                                  :comment_link => true} %>
  </article>
<% end %>
