<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>

  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
      <%= will_paginate @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%=raw @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>

  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/tags" %>
<% end %>

<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag('refinerycms-blog') %>
<% end %>
<% content_for :javascripts do %>
  <!-- Google Plus One Button -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <!-- Disqus Comment Count -->
  <script type="text/javascript">
      var disqus_shortname = 'astjohn';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
  <%= javascript_include_tag 'blog' %>
<% end %>
<%= render :partial => "/blog/shared/syntax_highlighter" %>
