<% content_for :body_content_left do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <% if BlogPost.comments_allowed? %>
    <aside id="comments">

      <% flash.each do |key, value| %>
        <div id='flash' class="flash flash_<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= render :partial => "disqus_comment_form", :locals => {:blog_post => @blog_post,
                                                         :blog_comment => @blog_comment} %>
    </aside>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/tags" %>
  <%= render :partial => "/blog/shared/posts" %>
<% end %>

<%= render :partial => "/shared/content_page", :locals => { :remove_automatic_sections => true }  %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
<% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinerycms-blog') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
<% end if BlogPost::ShareThis.enabled? %>
<% content_for :javascripts do %>
<% end %>
<%= render :partial => "/blog/shared/syntax_highlighter" %>
