<div class="layout" id="main">
  <section class="layout" id="body_content_left">
    <%= raw @page[:body] %>
    <%= yield :body_content_left %>
  </section>
  <section class="layout" id="sidebar">
    <nav id="main_menu">
      <ul class="content_menu">
        <li><%= link_to raw("<div class=\"menu_typewriter\"></div>"), root_path + "blog" %></li>
        <li><a href="#"><div class="menu_laptop"></div></a></li>
        <li><a href="#"><div class="menu_camera"></div></a></li>
        <li><a href="#"><div class="menu_backpack"></div></a></li>
      </ul>
    </nav>
    <section id='body_content_right'>
      <%= raw @page[:side_body] %>
      <%= yield :body_content_right %>
    </section>
  </section>
</div>

