<section class="layout" id="body_content_right">
  <% if @page.path == "Home" %>

  <% else %>
    <nav id="main_menu">
      <%= image_tag "layout/headshot.jpeg", :alt => "That's me!", :title => "That's me!", :id => "headshot" %>
    </nav>
    <p id="hello">Hello!<br/>I'm Adam and I hope this blog highlight's some of the things that I enjoy.</p>
    <%= raw @page[:side_body] %>
    <%= yield :body_content_right %>
  <% end %>
</section>
<div class="layout" id="main">
  <section class="layout" id="body_content_left">
    <% if @page.path == "Home" %>
      <ul id="words" class="content_menu">
        <li class="menu_photo"><%= link_to raw("<div class=\"menu_photo\"></div>"), root_path + "blog", :title => "Photography" %></li>
        <li class="menu_blog"><%= link_to raw("<div class=\"menu_blog\"></div>"), root_path + "blog", :title => "Blog" %></li>
        <li class="menu_web"><%= link_to raw("<div class=\"menu_web\"></div>"), root_path + "blog", :title => "Web Development" %></li>
        <li class="menu_travel"><%= link_to raw("<div class=\"menu_travel\"></div>"), root_path + "blog", :title => "Travelling" %></li>
      </ul>
      <%= image_tag "layout/portrait.png", :alt => "That's me!", :title => "That's me!", :id => "portrait" %>
    <% else %>
      <%= raw @page[:body] %>
      <%= yield :body_content_left %>
    <% end %>
  </section>

</div>
